   .points-body-scroll {
       height: 216px;
       overflow: auto;
   }

   .points-body-scroll {
       height: 216px;
       overflow: auto;
       scrollbar-width: none;
       -ms-overflow-style: none;
   }

   .points-body-scroll::-webkit-scrollbar {
       display: none;
   }
