.footer {
  background: var(--surface-footer);
  overflow: hidden;
}
.footer_main_links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: var(--space-16);
  padding: var(--space-12) 1rem;
  max-width: 1300px;
  margin: auto;
  justify-items: flex-start;
  align-items: flex-start;
}
/* Footer Branding */
.footer_branding {
  display: grid;
  gap: var(--space-8);
}

.footer_branding_top {
  display: grid;
  gap: var(--space-3);
}
.footer_branding_top img {
  width: 180px;
}

.footer_branding_top p {
  color: #f8fafc;
  font-size: var(--font-p14);
  font-weight: var(--fw-semibold);
}

.footer_branding_bottom {
  display: flex;
  gap: var(--space-4);
}

.footer_branding_bottom a .icon {
  width: 26px;
  height: 26px;
  fill: var(--slate-400) !important;
  cursor: pointer;
  transition: color 0.2s ease;
  stroke-width: 2;
}

.footer_branding_bottom a .icon:hover {
  fill: var(--white) !important;
}

/* Shared Footer Column Style */
.footer_column {
  display: grid;
  gap: var(--space-4);
}
.footer_columns_wrapper {
  display: grid;
  gap: 120px;
  justify-items: flex-start;
  align-items: flex-start;

  grid-template-columns: 1fr 1fr;
}

.footer_column h6,
.footer_newsletter h6 {
  text-transform: uppercase;
  color: var(--slate-400);
  letter-spacing: 0.1em;
}

.footer_links {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.footer_links li a {
  font-size: var(--font-p14);
  color: var(--slate-300);
  transition: color 0.2s ease;
}

.footer_links li a:hover {
  text-decoration: underline;
  color: var(--white);
}

.footer_newsletter p {
  color: var(--slate-300);
  font-size: 14px;
  margin: 16px 0 24px;
}


.footer_newsletter_input_field {
  display: flex;
  gap: var(--space-4);
}
.footer_newsletter_input_field .input_field_container {
  width: auto !important;
}
.footer_newsletter_input_field .input_field_wrapper {
  /* width: 80%; */
  border: 1px solid var(--slate-700);
}
.footer_newsletter_input_field .input_field_wrapper:focus-within {
  width: auto;
  
  box-shadow: 0 0 0 2px #8b5cf6;
  background: transparent !important;
}
.footer_newsletter_input_field .input_field {
  color: var(--slate-200);
}

.footer_newsletter_input_field .input_field::placeholder {
  color: var(--slate-500);
}

.footer_newsletter_input_field .button {
  font-weight: bold;
}

.footer_line {
  width: 100%;
  height: 1px;
  background: var(--slate-700);
}

.footer_text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_text p {
  margin: 24px 0;
  color: var(--slate-500);
  font-size: var(--font-p14);
}
.footer_newsletter_input_field {
  display: flex;
  flex-wrap: nowrap;
}
.footer_newsletter_input_field .input_field_container {
  flex: 1;
}
.footer_newsletter_input_field .button {
  flex-shrink: 0; /* prevents shrinking */
}

@media screen and (max-width: 1000px) {
  .footer_main_links {
    grid-template-columns: 1fr 1fr;
  }
  .footer_columns_wrapper {
    gap: 80px;
  }
}

@media screen and (max-width: 600px) {
    
  .footer_main_links {
    grid-template-columns: 1fr;
    gap: var(--space-12);
    /* place-items: center; */
  }
  .footer_newsletter {
    grid-column: span 2;
  }
}

@media screen and (max-width: 500px) {
  .footer_newsletter {
    grid-column: span 1;
  }
  .footer_columns_wrapper {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}




.footer .coming_soon_item {
  position: relative;
}

.footer .coming_soon_message {
  position: absolute;
  top: 120%;
  left: 0;
  background-color: #1e293b;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(-5px);
  pointer-events: none;
  transition: all 0.2s ease;
  z-index: 99;
}

.footer .coming_soon_message.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
