.input_field_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}
.input_field_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #d1d5db; /* gray-300 */
  border-radius: 6px;
  padding: 10px 16px;
  transition: box-shadow 0.2s ease, border 0.2s ease, background 0.2s ease;
}

.input_field_wrapper:focus-within {
  background: var(--brand-50);
  border: 1px solid var(--brand-500);
  box-shadow: 0 0 0 2px var(--brand-500); /* blue-500 ring effect */
}

.input_field_label {
  color: #4b5563; /* gray-600 */
  white-space: nowrap;
  font-size: var(--font-f14);
}

.input_field {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-size: var(--font-f16);
  color: #1f2937; /* gray-800 */
}

.input_field::placeholder {
  color: #9ca3af; /* gray-400 */
}
.input_field_error {
  border-radius: var(--color-error);
}
.input_field_error_message {
  color: var(--color-error);
  font-size: var(--font-p14); /* 12px */
  margin-top: 4px;
}

.textarea_field {
  resize: vertical;
  min-height: 165px;
}
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #1f2937 !important;
  transition: background-color 5000s ease-in-out 0s;
}
