.scroll-to-top {
  position: fixed;
  bottom: 2rem;     /* ~32px */
  right: 2rem;      /* ~32px */
  padding: var(--space-4);
  border-radius: var(--radius-full);
  background: var(--brand-500);
  z-index: 1000;   
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 25px 50px -10px,
    rgba(0, 0, 0, 0.3) 0px 15px 30px -15px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  cursor: pointer;
}
.scroll-to-top .icon{
    width: 26px;
    height: 26px;
    color: var(--white);
}
.scroll-to-top:hover{
    transform: scale(1.1);
}

.scroll-to-top.visible {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}
.scroll-to-top.visible:hover{
  transform: scale(1.1);
}