/* === Layout === */
.services {
  margin-top: var(--space-16); /* 64px */
}

.services_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-6); /* 24px */
  max-width: 1300px;
  margin: 64px auto; 
  /* overflow: hidden; */
  
  
  transition: opacity 0.1s ease, transform 0.1s ease;
}

/* === Card Styling === */
.services_card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-radius: var(--radius-md);
  box-shadow: 20px 20px 60px rgba(190, 190, 190, 0.3),
    -20px -20px 60px rgba(255, 255, 255, 0.1);
  overflow: hidden;
  transition: all .6s ease;
  outline: 8px solid transparent;
}
.services_card:hover{
  background: var(--brand-200);
  border-radius: var(--radius-md);

  outline: 8px solid var(--brand-200);
}
.services_card_content{
  position: relative;
}
/* === Card Content === */
.services_card_content {
  position: relative;
  z-index: 20;
}
.services_card_content a {
  display: inline-block;
}

.services_card_content h4 {
  color: var(--color-title);
  margin-top: 6px;
}
.services_card .button-outline {
  background: transparent;
  border: 1px solid var(--brand-500);
  color: var(--brand-500);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
    display: flex;
    gap: var(--space-1);
    align-items: center;
}
.services_card .button-outline:hover {
  /* background: var(--brand-500); */
  color: var(--white);
}
.services_card_content p {
  color: var(--color-paragraph);
  font-size: var(--font-p14);
  letter-spacing: 0.35px;
  margin: 12px 0 24px;
}
.services_card_content .icon {
  width: 20px;
}

/* === Card Background === */
.services_card_bg {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  z-index: 1;
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid rgba(255, 255, 255, 0.8);
}

.dark .services_card_bg {
  background: rgba(30, 41, 59, 0.95);
  outline: 2px solid rgba(255, 255, 255, 0.1);
}
.services_button{
    display: flex;
    gap: var(--space-2);
}

/* === Animated Blob === */
.services_card_blob {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--brand-500);
  opacity: 0.8;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
  z-index: 1;
}

.dark .services_card_blob {
  background-color: #60a5fa;
  opacity: 0.6;
}

/* === Blob Animation === */
@keyframes blob-bounce {
  0% {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }
  25% {
    top: 0;
    left: 100%;
    transform: translate(-50%, -50%);
  }
  50% {
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
  }
  75% {
    top: 100%;
    left: 0;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }
}

/* === Responsive === */
@media screen and (max-width: 1000px) {
  .services_cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .services {
    margin-top: var(--space-12); /* 48px */
  }
}

@media screen and (max-width: 600px) {
  .services_cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .services_card {
    padding: 32px 24px;
  }
  .services_card_content p {
    letter-spacing: 0;
  }
 .services_cards{
    margin-top: var(--space-12);
 }
}
