  <!-- Header -->
      <header class="header header--visible">
  <div class="container">
    <div class="header_container">
      <div class="header_left">
        <a href="#" class="header_logo">
          <img src="./assets/images/logo.png" alt="AVChamps" />
        </a>

        <div class="header_desktop_menu">
          <div class="coming_soon_wrapper">
            <a href="#" class="tooltipTrigger">Events</a>
            <div class="coming_soon_message">This feature is coming soon</div>
          </div>
          <div class="coming_soon_wrapper">
            <a href="#" class="tooltipTrigger">Tools</a>
            <div class="coming_soon_message">This feature is coming soon</div>
          </div>
          <div class="coming_soon_wrapper">
            <a href="#" class="tooltipTrigger">Careers</a>
            <div class="coming_soon_message">This feature is coming soon</div>
          </div>
          <div class="coming_soon_wrapper">
            <a href="#" class="tooltipTrigger">AVKart</a>
            <div class="coming_soon_message">This feature is coming soon</div>
          </div>
          <div class="coming_soon_wrapper">
            <a href="#" class="tooltipTrigger">Community</a>
            <div class="coming_soon_message">This feature is coming soon</div>
          </div>
          <div class="coming_soon_wrapper">
            <a href="#" class="tooltipTrigger">Training</a>
            <div class="coming_soon_message">This feature is coming soon</div>
          </div>
        </div>
      </div>

      <div class="header_right_desktop">
        <div class="coming_soon_wrapper">
          <button class="button button-outline tooltipTrigger">Log In</button>
          <div class="coming_soon_message">This feature is coming soon</div>
        </div>
        <div class="coming_soon_wrapper">
          <button class="button button-primary tooltipTrigger">Sign Up</button>
          <div class="coming_soon_message">This feature is coming soon</div>
        </div>
      </div>

      <div class="hamburger" id="hamburgerToggle">
        <svg class="hamburger_icon icon-bars" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M3 6h18M3 12h18M3 18h18" stroke="black" stroke-width="2" fill="none" />
        </svg>
        <svg class="hamburger_icon icon-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M6 6L18 18M6 18L18 6" stroke="black" stroke-width="2" fill="none" />
        </svg>
      </div>

      <div class="header_mobile_menu" id="mobileMenu">
        <div class="header_mobile_menu_links">
          <div class="coming_soon_wrapper">
            <a href="#" class="mobile_menu_link tooltipTrigger">Events</a>
            <div class="coming_soon_message">This feature is coming soon</div>
          </div>
          <div class="coming_soon_wrapper">
            <a href="#" class="mobile_menu_link tooltipTrigger">Tools</a>
            <div class="coming_soon_message">This feature is coming soon</div>
          </div>
          <div class="coming_soon_wrapper">
            <a href="#" class="mobile_menu_link tooltipTrigger">Careers</a>
            <div class="coming_soon_message">This feature is coming soon</div>
          </div>
          <div class="coming_soon_wrapper">
            <a href="#" class="mobile_menu_link tooltipTrigger">AVKart</a>
            <div class="coming_soon_message">This feature is coming soon</div>
          </div>
          <div class="coming_soon_wrapper">
            <a href="#" class="mobile_menu_link tooltipTrigger">Community</a>
            <div class="coming_soon_message">This feature is coming soon</div>
          </div>
          <div class="coming_soon_wrapper">
            <a href="#" class="mobile_menu_link tooltipTrigger">Training</a>
            <div class="coming_soon_message">This feature is coming soon</div>
          </div>
        </div>
        <div class="buttons">
          <div class="coming_soon_wrapper">
            <button class="button button-outline tooltipTrigger">Log In</button>
            <div class="coming_soon_message">This feature is coming soon</div>
          </div>
          <div class="coming_soon_wrapper">
            <button class="button button-primary tooltipTrigger">Sign Up</button>
            <div class="coming_soon_message">This feature is coming soon</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="header_mobile_overlay" id="mobileOverlay"></div>



    <!-- Hero Section -->
    <section class="hero">
      <div class="spotlight pointer-events-none absolute inset-0 h-full w-full">
        <!-- Left sweep -->
        <div class="sweep-left absolute top-0 left-0 w-screen h-screen">
          <div
            class="absolute top-0 left-0"
            style="
              transform: translateY(-350px) rotate(-45deg);
              background: radial-gradient(
                68.54% 68.72% at 55.02% 31.46%,
                hsla(210, 100%, 70%, 0.35) 0,
                hsla(210, 100%, 55%, 0.2) 50%,
                hsla(210, 100%, 45%, 0.08) 80%
              );
              width: 700px;
              height: 1600px;
            "
          ></div>
          <div
            class="absolute top-0 left-0 origin-top-left"
            style="
              transform: rotate(-45deg) translate(5%, -50%);
              background: radial-gradient(
                50% 50% at 50% 50%,
                hsla(210, 100%, 75%, 0.3) 0,
                hsla(210, 100%, 60%, 0.18) 80%,
                transparent 100%
              );
              width: 300px;
              height: 1600px;
            "
          ></div>
          <div
            class="absolute top-0 left-0 origin-top-left"
            style="
              transform: rotate(-45deg) translate(-180%, -70%);
              background: radial-gradient(
                50% 50% at 50% 50%,
                hsla(210, 100%, 80%, 0.25) 0,
                hsla(210, 100%, 50%, 0.15) 80%,
                transparent 100%
              );
              width: 300px;
              height: 1600px;
            "
          ></div>
        </div>

        <!-- Right sweep -->
        <div class="sweep-right absolute top-0 right-0 w-screen h-screen">
          <div
            class="absolute top-0 right-0"
            style="
              transform: translateY(-350px) rotate(45deg);
              background: radial-gradient(
                68.54% 68.72% at 55.02% 31.46%,
                hsla(210, 100%, 70%, 0.35) 0,
                hsla(210, 100%, 55%, 0.2) 50%,
                hsla(210, 100%, 45%, 0.08) 80%
              );
              width: 700px;
              height: 1600px;
            "
          ></div>
          <div
            class="absolute top-0 right-0 origin-top-right"
            style="
              transform: rotate(45deg) translate(-5%, -50%);
              background: radial-gradient(
                50% 50% at 50% 50%,
                hsla(210, 100%, 75%, 0.3) 0,
                hsla(210, 100%, 60%, 0.18) 80%,
                transparent 100%
              );
              width: 300px;
              height: 1600px;
            "
          ></div>
          <div
            class="absolute top-0 right-0 origin-top-right"
            style="
              transform: rotate(45deg) translate(180%, -70%);
              background: radial-gradient(
                50% 50% at 50% 50%,
                hsla(210, 100%, 80%, 0.25) 0,
                hsla(210, 100%, 50%, 0.15) 80%,
                transparent 100%
              );
              width: 300px;
              height: 1600px;
            "
          ></div>
        </div>
      </div>
      <div class="hero_container container text-center">
        <div class="hero_title">
          <h1 id="hero_heading">Audio Visual Community</h1>
          <h3>
            Built by
            <span class="hero_title_span"
              >AV Experts, For AV Professionals</span
            >
          </h3>
        </div>

        <div class="hero_text" aria-labelledby="hero-heading">
          <p>
            Where AV experts unite to share, learn, and lead the industry
            forward.
          </p>
          <p>
            We don't just build a platform – we cultivate a thriving ecosystem
            for Audio Visual growth and innovation.
          </p>
        </div>

        <div
          class="hero_buttons"
          role="group"
          aria-label="Call to action buttons"
        >
          <div class="coming_soon_wrapper" id="comingSoonBtn">
            <button
              class="button button-primary button-lg"
              aria-label="Join the AV community"
            >
              Join Community
            </button>
            <div class="coming_soon_message" id="comingSoonTooltip">
              This feature is coming soon
            </div>
          </div>

          <a href="#services">
            <button
              class="button button-lg button-outline button-outline-animated"
              aria-label="Explore available services"
            >
              Explore Services
            </button>
          </a>
        </div>

       <a href="#sponsors">
        <button
          class="button button-outline button-lg button-scroll-down "
          aria-label="Scroll Down"
        >
          Scroll To Discover
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mouse-pointer2-icon lucide-mouse-pointer-2"><path d="M4.037 4.688a.495.495 0 0 1 .651-.651l16 6.5a.5.5 0 0 1-.063.947l-6.124 1.58a2 2 0 0 0-1.438 1.435l-1.579 6.126a.5.5 0 0 1-.947.063z"/></svg>
        </button></a>
        
      </div>
    </section>

    <!-- Sponsors Section -->
    <section class="sponsors" id="sponsors">
      <div class="sponsors_container container">
        <h2>Our Sponsors</h2>

        <div class="sponsors_slider">
          <div class="sponsors_track">
            <div class="sponsor_logo">
              <img src="./assets/images/Zoapi.png" alt="Zoapid" />
            </div>
            <div class="sponsor_logo">
              <img src="./assets/images/Wilyer.png" alt="Wilyer" />
            </div>
            <div class="sponsor_logo">
              <img src="./assets/images/Hirexbot.png" alt="Hirexbot" />
            </div>
            <div class="sponsor_logo">
              <img src="./assets/images/Zoapi.png" alt="Zoapid" />
            </div>
            <div class="sponsor_logo">
              <img src="./assets/images/Wilyer.png" alt="Wilyer" />
            </div>
            <div class="sponsor_logo">
              <img src="./assets/images/Hirexbot.png" alt="Hirexbot" />
            </div>
          </div>

          <div class="sponsors_left_gradient"></div>
          <div class="sponsors_right_gradient"></div>
        </div>
      </div>
    </section>

    <!-- Services Section -->
    <section class="services" id="services">
      <div class="services_container container">
        <div class="section_header">
          <h2 class="section_header_title">Our Services</h2>
          <p class="section_header_subtitle">
            From automated workflow tools to career opportunities, marketplace
            solutions to community engagement, AV Champs provides everything the
            Audio Visual industry needs to thrive and grow.
          </p>
        </div>

        <div class="services_cards">
          <!-- Cards will be injected here by services.js -->
        </div>
      </div>
    </section>

    <!-- Testimonials Section -->
    <section class="testimonials">
      <div class="testimonials_container container">
        <div class="section_header">
          <h2 class="section_header_title">What Our Community Says</h2>
          <p class="section_header_subtitle">
            Check out these testimonials to see how AV Champs is driving success
            across the AV landscape. Ready to take the next step in your
            journey? Sign up today and be part of a platform built to empower
            your future.
          </p>
        </div>

        <div class="swiper testimonials_swiper">
          <div class="swiper-wrapper" id="testimonial-wrapper"></div>
          <div class="custom-swiper-pagination swiper-pagination"></div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section class="contact">
      <div class="contact_container container">
        <div class="section_header">
          <h2 class="section_header_title">Contact Us</h2>
          <p class="section_header_subtitle">
            We're here to help with anything—from AV solutions to event support.
            Reach out and let's make something great together.
          </p>
        </div>

        <div class="contact_wrapper">
          <div class="contact_details">
            <h4>Need Immediate Assistance?</h4>
            <div class="contact_links">
              <div class="contact_link">
                <svg
                  class="icon"
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-phone-icon lucide-phone"
                >
                  <path
                    d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"
                  />
                </svg>
                <a href="tel:+919966416417">+91 9966416417</a>
              </div>
              <div class="contact_link">
                <svg
                  class="icon"
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-mail-icon lucide-mail"
                >
                  <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7" />
                  <rect x="2" y="4" width="20" height="16" rx="2" />
                </svg>
                <a href="mailto:hello&#64;avchamps.com">hello&#64;avchamps.com</a>
              </div>
              <div class="contact_link">
                <svg
                  class="icon"
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-clock3-icon lucide-clock-3"
                >
                  <circle cx="12" cy="12" r="10" />
                  <polyline points="12 6 12 12 16.5 12" />
                </svg>
                <p>Monday-Friday 9AM - 6PM</p>
              </div>

              <div class="contact_map">
                <iframe
                  title="AV Champs Office Location"
                  class="map_iframe"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3890.2151959831275!2d77.639485675117!3d12.91082408739347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15a7588b14e1%3A0x94f97f0dfcc4be6b!2s362%2C%2012th%20Main%20Rd%2C%20Sector%205%2C%20HSR%20Layout%2C%20Bengaluru%2C%20Karnataka%20560102!5e0!3m2!1sen!2sin!4v1718384358765!5m2!1sen!2sin"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
              </div>
            </div>
          </div>

          <div class="contact_form">
            <form class="contact_form_container" id="contact-form">
              <h4>Begin Your AV Journey</h4>

              <div class="contact_form_fields">
                <div class="input_field_container">
                  <div class="input_field_wrapper">
                    <input
                      type="text"
                      name="name"
                      id="name"
                      placeholder="Your Name"
                      class="input_field"
                    />
                  </div>
                  <p
                    id="name-error"
                    class="input_field_error_message"
                    style="display: none"
                  >
                    Name is required
                  </p>
                </div>

                <div class="input_field_container">
                  <div class="input_field_wrapper">
                    <input
                      type="email"
                      name="email"
                      id="email"
                      placeholder="Your Email"
                      class="input_field"
                    />
                  </div>
                  <p
                    id="email-error"
                    class="input_field_error_message"
                    style="display: none"
                  >
                    Email is required
                  </p>
                </div>
              </div>

              <div class="input_field_container">
                <div class="input_field_wrapper">
                  <input
                    type="text"
                    name="subject"
                    id="subject"
                    placeholder="Subject"
                    class="input_field"
                  />
                </div>
              </div>

              <div class="input_field_container">
                <div class="input_field_wrapper">
                  <textarea
                    name="message"
                    id="message"
                    placeholder="Message"
                    class="input_field textarea_field"
                    rows="4"
                  ></textarea>
                </div>
              </div>

              <div class="submit_button">
                <button type="submit" class="button button-md button-primary">
                  Send Message
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer Section -->
    <footer class="footer">
      <div class="footer_container">
        <div class="footer_main_links container">
          <!-- Branding -->
          <div class="footer_branding">
            <div class="footer_branding_top">
              <img
                src="./assets/images/logo-white.png"
                alt="AV Champs"
                class="footer_branding_logo"
              />
              <p>Be Connected</p>
            </div>

            <!-- Social icons inserted by JS -->
            <div id="socialIcons" class="footer_branding_bottom">
              <!-- Social icons generated from JS -->
            </div>
          </div>

          <!-- Company and Product Links -->
          <div class="footer_columns_wrapper">
            <div class="footer_column">
              <h6>Company</h6>
              <ul id="companyLinks" class="footer_links">
                <!-- Company links generated from JS -->
              </ul>
            </div>

            <div class="footer_column">
              <h6>Products</h6>
              <ul id="productLinks" class="footer_links">
                <!-- Product links generated from JS -->
              </ul>
            </div>
          </div>

          <!-- Newsletter -->
          <div class="footer_newsletter">
            <h6>Stay Updated</h6>
            <p>Get the latest updates and insights from the AV community.</p>
            <div class="footer_newsletter_input_field">
              <div class="input_field_container">
                <div class="input_field_wrapper">
                  <input
                    type="email"
                    placeholder="Enter your email"
                    class="input_field"
                  />
                </div>
              </div>

              <button
                class="button button-outline button-sm button-outline-animated"
              >
                Subscribe Now
              </button>
            </div>
          </div>
        </div>

        <div class="footer_line"></div>

        <div class="footer_text">
          <p>© 2024 AV Community. All rights reserved.</p>
        </div>
      </div>
    </footer>

    <div class="scroll-to-top" id="scrollToTopBtn" aria-label="Scroll to top">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-up-icon lucide-chevron-up"><path d="m18 15-6-6-6 6"/></svg>
    </div>

