
*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

@font-face {
  font-family: "Inter 28pt";
  src: url("/fonts/Inter28pt-Bold.woff2") format("woff2"),
    url("/fonts/Inter28pt-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 28pt";
  src: url("/fonts/Inter28pt-Medium.woff2") format("woff2"),
    url("/fonts/Inter28pt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 28pt";
  src: url("/fonts/Inter28pt-Regular.woff2") format("woff2"),
    url("/fonts/Inter28pt-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 28pt";
  src: url("/fonts/Inter28pt-SemiBold.woff2") format("woff2"),
    url("/fonts/Inter28pt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* body {
    background: #f5f7fa;
    font-family: "Segoe UI", sans-serif;
  } */


body {
  background-color: #f0f2f5;
  font-family: "Inter", sans-serif;
}


.cursor-pointer {
  cursor: pointer;
}

.bs-datepicker-head {
  background-color: royalblue !important;
}


.text-primary {
   color: #0B5CFF !important;
}


.form-control::placeholder,
.form-select::placeholder{
  color: #d1d5db !important;
}

.text-danger {
  font-size: 12px !important;
}