:root{
  --bs-primary: #0B5CFF !important;
}


*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

@font-face {
  font-family: "Inter 28pt";
  src: url("/fonts/Inter28pt-Bold.woff2") format("woff2"),
    url("/fonts/Inter28pt-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 28pt";
  src: url("/fonts/Inter28pt-Medium.woff2") format("woff2"),
    url("/fonts/Inter28pt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 28pt";
  src: url("/fonts/Inter28pt-Regular.woff2") format("woff2"),
    url("/fonts/Inter28pt-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 28pt";
  src: url("/fonts/Inter28pt-SemiBold.woff2") format("woff2"),
    url("/fonts/Inter28pt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}



/* TTNorms Fonts */


@font-face {
    font-family: 'TT Norms Pro Serif Trl Blc';
    src: url('/fonts/TTNormsProSerifTrl-Blk.woff2') format('woff2'),
        url('/fonts/TTNormsProSerifTrl-Blk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms Pro Serif Trl Db';
    src: url('/fonts/TTNormsProSerifTrl-DmBd.woff2') format('woff2'),
        url('/fonts/TTNormsProSerifTrl-DmBd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms Pro Serif Trl';
    src: url('/fonts/TTNormsProSerifTrl-Bd.woff2') format('woff2'),
        url('/fonts/TTNormsProSerifTrl-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms Pro Serif Trl Md';
    src: url('/fonts/TTNormsProSerifTrl-Md.woff2') format('woff2'),
        url('/fonts/TTNormsProSerifTrl-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms Pro Serif Trl Nml';
    src: url('/fonts/TTNormsProSerifTrl-Nml.woff2') format('woff2'),
        url('/fonts/TTNormsProSerifTrl-Nml.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms Pro Serif Trl';
    src: url('/fonts/TTNormsProSerifTrl-Rg.woff2') format('woff2'),
        url('/fonts/TTNormsProSerifTrl-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/* body {
    background: #f5f7fa;
    font-family: "Segoe UI", sans-serif;
  } */


body {
  background-color: #f0f2f5;
  /* font-family: "Inter", sans-serif; */
   /* font-family: 'TT Norms Pro Serif Trl'; */
}

.btn-primary{
  background-color: #0B5CFF !important;
}

h1{
  font-size: 30px;
}
h4{
  font-size: 24px;
}

p,  span {
  font-size: 14px
}

.cursor-pointer {
  cursor: pointer;
}

.bs-datepicker-head {
  background-color: royalblue !important;
}


.text-primary {
   color: #0B5CFF !important;
}


.form-control::placeholder,
.form-select::placeholder{
  color: #d1d5db !important;
}
/* 
.text-danger {
  font-size: 12px !important;
} */

.fs-14 {
  font-size: 14px;
}